body {
	font-family: 'Space Mono', 'Helvetica Neue', sans-serif;
	color: #222222;
	text-decoration: none;
	background-color: #fff1e9;
}

::selection {
  background: #bed346; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #bed346; /* Gecko Browsers */
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	color: #bed346;
}

a::selection {
	color: #222222;
}

a::-moz-selection {
	color: #222222;
}


.main-container {
	height: 100%;
	width: 100%;
	text-align: : center;
}

.head-title {
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 24px;
	text-align: center;
}

.main-blurb {
	padding-bottom: 12px;
	padding-top: 12px;
	width: 80%;
 	margin: 0 auto;
	text-align: center;
}

.main-img {
	margin-bottom: 0px;
	text-align: center;
}

.main-img img {
	max-height: 300px;
	max-width: 300px;
	min-height: 50px;
	min-width: 50px;
	text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
	display: inline;
	margin: 0 auto;
	width: auto;
}
.links-container {

	justify-content: center;
	align-items: center;
	display: grid;
	width:70%;
	margin: 0 auto;
	grid-template-columns: 15rem 15rem;
    grid-template-rows: 4rem 4rem;
    margin-bottom: 12px;
}
.link1 {
	font-weight: bold;
	text-align: center;
}
.link2 {
	font-weight: bold;
	text-align: center;
}
.link3 {
	font-weight: bold;
	text-align: center;
}
.link4 {
	font-weight: bold;
	text-align: center;
}

.social_media {
	alignment-baseline: center;
	text-align: center;
}