body {
	font-family: 'Space Mono', 'Helvetica Neue', sans-serif;
	color: #222222;
	text-decoration: none;
}

::selection {
  background: #bed346; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #bed346; /* Gecko Browsers */
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	color: #bed346;
}

a::selection {
	color: #222222;
}

a::-moz-selection {
	color: #222222;
}


.main-container {
	height: 100%;
	width: 100%;
	text-align: : center;
}

.head-title {
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 24px;
	text-align: center;
}

.main-blurb {
	padding-bottom: 12px;
	padding-top: 12px;
	width: 60%;
 	margin: 0 auto;
	text-align: center;
}

.main-img {
	margin-bottom: 24px;
	text-align: center;
}

.main-img img {
	max-height: 300px;
	max-width: 300px;
	min-height: 50px;
	min-width: 50px;
	text-align: center;
}

.link {
	font-weight: bold;
	text-align: center;
}

.social_media {
	alignment-baseline: center;
	text-align: center;
}